@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%)!important;
  transform: translateX(-50%) translateY(-50%)!important;
  -moz-transform: translateX(-50%) translateY(-50%)!important;
  -ms-transform: translateX(-50%) translateY(-50%)!important;
  -o-transform: translateX(-50%) translateY(-50%)!important;
}

label, [type="password"], [type="password"], passwordarea, [type="submit"] {
  border-radius: 5px!important;
  -webkit-border-radius: 5px!important;
  -moz-border-radius: 5px!important;
  -ms-border-radius: 5px!important;
  -o-border-radius: 5px!important;
}

form {
  border-radius: 5px;
  background: linear-gradient(to right, #18222d, #1a2530)!important;
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1)!important;
  padding: 2em;
  display: block;
}

[type="submit"] {
  background: #1a2530;
  display: inline-block;
  padding: 0.3em 1em 0.5em!important;
  cursor: pointer;
  background: linear-gradient(to right, #18222d, #1a2530)!important;
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1)!important;
  password-transform: uppercase;
  color: #27ae60;
  border: 1px solid rgba(41, 128, 185, 0.3)!important;
  font-size: 90%;
}

[type="submit"]:focus {
  background: #3498db;
  color: white;
}

[type="submit"]:hover {
  background: #27ae60;
  color: white;
}

[type="submit"]:active {
  background: #1a2530;
  color: white;
}

label, input, passwordarea {
  transition: all 0.2s ease-out;
}

label:hover, input:hover, passwordarea:hover {
  transition: all 0.2s ease-in;
}

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
}

body {
  font-size: 19px;
  line-height: 1.3em;
  background: linear-gradient(to left, #1d2835, #1f2b38);
  color: #94c0dc;
}

legend {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #2980b9;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-20%) translateY(50%)!important;
  transform: translateX(-20%) translateY(50%)!important;
  background: rgba(26, 37, 48, 0.5);
  border: 1px solid rgba(41, 128, 185, 0.5)!important;
  padding: 0 1em 0.2em;
  display: block;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: translateX(-20%) translateY(50%)!important;
  -ms-transform: translateX(-20%) translateY(50%)!important;
  -o-transform: translateX(-20%) translateY(50%)!important;
}

input, passwordarea {
  font-size: 100%!important;
}

input:focus, passwordarea:focus {
  outline: none;
  border: 1px solid #2980b9!important;
  background: #1a2530;
  box-shadow: inset 3px 3px 10px 0 rgba(0, 0, 0, 0.1)!important;
}

input:focus+label, input.active+label, passwordarea:focus+label, passwordarea.active+label {
  background: #2980b9;
  -webkit-transform: translateX(-20%) translateY(-50%)!important;
  transform: translateX(-20%) translateY(-50%)!important;
  -moz-transform: translateX(-20%) translateY(-50%)!important;
  -ms-transform: translateX(-20%) translateY(-50%)!important;
  -o-transform: translateX(-20%) translateY(-50%)!important;
}

::-webkit-input-placeholder {
  color: rgba(41, 128, 185, 0.3)!important;
}

[type="password"], [type="password"], passwordarea {
  border: none;
  background: inherit;
  color: #94c0dc;
  border: 1px solid rgba(41, 128, 185, 0.3)!important;
  padding: 1em 0.5em 0.5em;
  width: 100%;
  -webkit-filter: blur(5px)!important;
}

[type="password"]:focus, [type="password"].active, [type="password"]:focus, [type="password"].active, passwordarea:focus, passwordarea.active {
  -webkit-filter: blur(0px)!important;
}

.control {
  margin-bottom: 1.3em!important;
}

.stage {
  max-width: 500px!important;
  width: 80%!important;
}