body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dsblock {
  display: block;
  z-index: 999;
}

.showEditor {
  top: 50%!important;
  visibility: visible;
}

.fr-wrapper {
  height: 200px;
}

.navbar-nav {
  flex-direction: row;
}

#search-button {
  color: #666!important
}

.navbar .dropdown-menu a {
  font-size: 1.5rem;
}

.navbar {
  padding: 0;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn {
  margin: unset
}

.dropdown-toggle::after {
  border: unset;
  margin-left: unset;
  content: unset;
}

.btn-default {
  color: #333 !important;
}

.category-tag-row {
  justify-content: flex-end;
}

.menu-container {
  display: block!important
}

.social-btn {
  text-align: center
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 45rem;
}

a {
  cursor: pointer;
}

table {
  width: 100%;
}

.limit-table {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.edit-btn, .admin-post-date, .admin-post-tags, .admin-post-author {
  width: 80px;
}

table.gridtable {
  font-family: tahoma;
  line-height: 15px;
  font-size: 12px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}

table.gridtable th {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  color: #FFFFFF;
  background-color: #5A94CE;
  /*#66CCFF*/
}

table.gridtable td {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  background-color: transparent;
}

#dataTable tbody tr:hover td {
  background: none repeat scroll 0 0 #7AA9D8/*#5A94CE*/
  ;
  /*#9CF*/
  color: #FFF;
}