<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Blog Nodejs</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/font/fontawesomeProByNam.css">
    <!-- Bootstrap core CSS-->

    <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MD BOOTSTRAP PRO -->
    <link href="https://namboss.blob.core.windows.net/huong/mdb.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

</head>

<body>

    <h1>Login Blog NodeJs</h1>
    <h2>Just joining and detection</h2>
    <form id="form-login">
        <ul class="items"></ul>
        <!--    <fieldset class="username enable">
            <div class="icon left"><i class="user"></i></div>
            <input type="text" name="username" placeholder="Username" />
            <div class="icon right button"><i class="arrow"></i></div>
        </fieldset> -->
        <fieldset class="email enable">
            <div class="icon left"><i class="letter"></i></div>
            <input type="mail" name="email" placeholder="Email" />
            <div class="icon right button"><i class="arrow"></i></div>
        </fieldset>
        <fieldset class="password">
            <div class="icon left"><i class="lock"></i></div>
            <input type="password" name="password" placeholder="Password" />
            <div class="icon right button" id="btn-down"><i class="arrow"></i></div>
        </fieldset>
        <fieldset class="thanks" id="last-button">
            <div class="icon left"><i class="heart"></i></div>
            <p>Thanks for your time</p>
            <div class="icon right"><i class="heart"></i></div>
        </fieldset>
        <div class="social-btn">
            <!-- Social login -->
            <a type="button" href="/users/login/facebook" class="btn-floating btn-fb btn-sm  btn-facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a type="button" href="/users/login/twitter" class="btn-floating btn-tw btn-sm  btn-twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" href="/users/login/google" class="btn-floating btn-li btn-sm btn-google">
                <i class="fab fa-google"></i>
            </a>
            <a type="button" href="/users/login/github" class="btn-floating btn-git btn-sm btn-github">
                <i class="fab fa-github"></i>
            </a>
            <a type="button" href="/users/login/linkedin" class="btn-floating btn-git btn-sm btn-linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a type="button" href="/users/login/instagram" class="btn-floating btn-git btn-sm btn-instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="link-register">
            <a class="btn" href="/users/register">
                Register
            </a>

        </div>
        <a class="link" href="/users/forgotpassword">
            Forgot Password?
        </a>
    </form>


    <!-- Bootstrap core JavaScript-->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://namboss.blob.core.windows.net/huong/mdb.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/stylesheets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/javascripts/login.js"></script>
</body>

</html>